.eventsContainer {
    display: flex;
    justify-content: center;
}

.event {
    margin: 20px;
}

.detailedEvent {
    background: whitesmoke;
    border-radius: 5px;
    margin: 20px auto 50px;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.events {
    display: flex;
    flex-direction: column;
}

.eventDetails {
    width: 40%;
    float: left;
    background-color: white;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.moreInfo {
    padding: 10px 20px;
    background-color: black;
    color: white;
    letter-spacing: .07em;
    text-decoration: none;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    width: 150px;
}

.moreInfoLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.moreInfo:hover {opacity: 1}

.eventImage {
    float: left;
    width: 50%;
}

img {
    width: 370px;
    height: 220px;
}

.eventName {
    font-family: 'League Gothic', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 110%;
}

.eventType {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 0;
    margin: 0 0 7px 0;
    line-height: 110%;
    width: 80px;
}

.eventTypeDetail {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 0;
    margin: 0 0 7px 0;
    line-height: 110%;
}

.eventDateTime {
    font-size: 15px;
    margin-bottom: 30px;
    font-family: 'Mukta Vaani', sans-serif;
}

.eventDateTimeDetail {
    font-size: 20px;
    font-family: 'Mukta Vaani', sans-serif;
}

.commentsSection {
    background: rgb(192, 191, 191);
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 50%;

}

.commentsTitle {
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0 0 10px;
    line-height: 110%;
}

.comment {
    background:whitesmoke;
    padding: 5px;
    margin: 0 20px 10px 20px;
}

.newCommentsHeading {
    font-family: 'League Gothic', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0 0 10px;
    line-height: 110%;
}

.userName {
    font-family: 'League Gothic', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 5px 0 0 0;
    line-height: 110%;
}

.btn-primary {
    padding: 10px 20px;
    margin: 0 0 10px 20px;
    background-color: black;
    color: white;
    letter-spacing: .07em;
    text-decoration: none;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
}

.btn-primary:hover{opacity:1}

.blackIcon {
    text-decoration: none;
    color: black;
    /* padding: 5px; */
}

.buttons {
   width: 50px;
   margin-left: 130px;
}

.editEventButton {
    /* margin-left: 70px;
    padding-right: 10px; */
}

.child {
    /* width: 50%;
    float: left;
    padding: 20px; */
}

.float-container {
    display: flex;
}


