body {
    background-color: white;
}

.eventsContainer {
    display: flex;
    justify-content: center;
}

.event {
    margin: 100px;
}

.eventDetails {
    width: 40%;
    float: left;
    background-color: white;
    height: 200px;
    padding: 10px;
}

.moreInfo {
    padding: 10px 20px;
    background-color: black;
    color: white;
    letter-spacing: .07em;
    text-decoration: none;
    border: none;
}

.eventImage {
    float: left;
    width: 50%;
}

img {
    width: 370px;
    height: 220px;
}

.eventName {
    font-family: 'League Gothic', sans-serif;
    font-size: 28.8px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 110%;
}

.eventType {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 0;
    margin: 0 0 7px 0;
    line-height: 110%;
}