/* .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;

}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
} */

.rymanNavLogo {
    display: block;
    height: 80px;
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}



/* header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    color: white;
}

header li a {
    color: white;
    text-decoration: none;
} */

nav {
    overflow: hidden;
    background-color: black;
    height: 90px;
    box-shadow: 0 0 25px 0 black;
}

.left {
    float: left;
    color: white;
    text-align: center;
    padding: 21px 20px 21px 30px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'League Gothic', sans-serif;
}

.left:hover {
    color: #FDBC37;
}

.active {
    color: #C93F3B;
}

.leftNav {
    display: inline;
}

.rightNav {
    float: right;
    padding: 21px 30px 21px 20px;
}

.logout {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
}

.logout:hover {
    color: #FDBC37;
}